<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Testing in Chrome">
    <parameter name="browsername" value="Chrome"></parameter>
    <parameter name="version" value="126"></parameter>
    <parameter name="platform" value="Windows 11"></parameter>
    <classes>
      <class name="Scenarios.testCases"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Testing on macOS">
    <parameter name="browsername" value="firefox"></parameter>
    <parameter name="version" value="latest"></parameter>
    <parameter name="platform" value="macOS Sonoma"></parameter>
    <classes>
      <class name="Scenarios.testCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
